<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.about == true %}
        {% if page.title != "About" %}
        <li class="item">
            <a class="link" href="{{ site.url }}/about">About</a>
        </li>
        {% endif %}
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.python == true %}
            {% if page.title != "Python" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/python">Python</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.javascript == true %}
            {% if page.title != "Javascript" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/javascript">Javascript</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.linux == true %}
            {% if page.title != "Linux" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/linux">Linux</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.database == true %}
            {% if page.title != "Database" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/database">Database</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.book == true %}
            {% if page.title != "Book" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/book">Book</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.code == true %}
            {% if page.title != "Code" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/code">Code</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.etc == true %}
            {% if page.title != "Etc" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/etc">Etc</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Diary</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.review == true %}
            {% if page.title != "Review" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/review">Review</a>
                </li>
            {% endif %}
        {% endif %}


        <!--{% if site.resume == true %}-->
            <!--<li class="item">-->
                <!--<a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>-->
            <!--</li>-->
        <!--{% endif %}-->
    </ul>
</nav>
